body {
  margin: 0;
  font-size: 16px;
}

.container {
  display: flex;
  margin: auto;
}

/* HEADER */

header {
  background-color: whitesmoke;
  width: 100%;
  height: 64px;
  position: fixed;
  z-index: 1;
}

header img {
  padding-left: 24px;
  height: 32px;
  padding-top: 16px;
}

/* NOTE: This will set the "COLMAR ACADEMY" text to gray
 header div:first-child {
  color: #505256;
  font-weight: bold;
}
*/

.mobile {
  display: none;
}


.first {
  color: hsl(217,1,34);
  font-weight: bold;
  display: inline;
  padding-top: 24px;
 /* NOTE: changing the padding to 24px will align this in the center */
}

.second {
  color: hsl(217,2,77);
  display: inline;
  padding-top: 24px;
}

nav a {
  text-decoration: none;
  padding-right: 16px; /* NOTE: The spacing between the nav items */
  color: black;
}

.navigation { /* NOTE: These should be the colored bars between the links */
  background-color: hsl(175,100,50);
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navigation, nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: whitesmoke;
  /*padding-top: 24px;*/
  /*padding-left: 1370px;*/
}


/* Banner Section */

.banner {
  background-color: gray;
  padding-top: 32px;
  display: flex;

}

.banner .container { /* NOTE: This puts the gray bar on top of the picture, and the call to margin enables the padding on the left side of the image in the next css call */
  padding-top: 32px;
  margin: 0;
}

.banner img {
  width: 60%;
  padding: 32px 24px;
  padding-top: 32px;
  justify-content: space-between;
}

.learn h1 {
  width: 60%;
  margin: 1.5rem 0rem;
  font-size: 2rem;
  font-weight: 700;
}
